@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* scrollbar start */
/* width */
::-webkit-scrollbar {
  width: 0.5em;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(32, 32, 32);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: radial-gradient(
    circle,
    rgba(16, 164, 144, 1) 0%,
    rgba(12, 114, 180, 1) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 10px;
}
/* scrollbar end */

/* Mouse glow effect start */
@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }

  to {
    rotate: 360deg;
  }
}

#blob {
  background-color: white;
  height: 24vmax;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 75vh;
  /* translate: -50% -50%; */
  border-radius: 50%;
  background: linear-gradient(to right, #10a490, #0c72b4);
  animation: rotate 20s infinite;
  opacity: 0.8;
  z-index: -99;
}

#blur {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -98;
  backdrop-filter: blur(12vmax);
  -webkit-backdrop-filter: blur(12vmax);
}
/* #blur {
  @apply backdrop-blur-[120px] w-full h-full;
} */
/* Mouse glow effect end */

/* stars bg start */
@keyframes glowing-stars {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.star1 {
  animation: glowing-stars 2s infinite alternate linear 250ms;
}
.star2 {
  animation: glowing-stars 2s infinite alternate linear 750ms;
}
.star3 {
  animation: glowing-stars 2s infinite alternate linear 900ms;
}
.star4 {
  animation: glowing-stars 2s infinite alternate linear 1s;
}
.star5 {
  animation: glowing-stars 2s infinite alternate linear 2s;
}
.star6 {
  animation: glowing-stars 2s infinite alternate linear 500ms;
}
.star7 {
  animation: glowing-stars 2s infinite alternate linear 660ms;
}
.star8 {
  animation-name: glowing-stars 2s infinite alternate linear;
}
/* stars bg end */

/* rotating border start */
.fancy {
  --offset: 2px;
  overflow: hidden;
}
/* Conic gradient */
.fancy::before {
  content: "";
  background: conic-gradient(
    transparent 270deg,
    rgba(255, 255, 255, 0.5),
    transparent
  );
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
  width: 100%;
  animation: rotate 2s linear infinite;
}
/* Overlay */
.fancy::after {
  content: "";
  background: inherit;
  border-radius: inherit;
  position: absolute;
  inset: var(--offset);
  height: calc(100% - 1 * var(--offset));
  width: calc(100% - 1 * var(--offset));
  transform: translate(-1px, -1px);
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
  }

  to {
    transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
  }
}

@keyframes opacityChange {
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
/* rotating border end */

/* planet separator start */
.planet_separator {
  mask-image: radial-gradient(circle, black, transparent 80%);
  margin: -128px auto;
}
.planet_separator::before {
  content: "";
  position: absolute;
  inset: 0px;
  background: radial-gradient(
    circle at bottom center,
    #7877c6,
    transparent 70%
  );
  opacity: 0.4;
}
.planet_separator::after {
  content: "";
  position: absolute;
  background-color: black;
  width: 200%;
  left: -50%;
  aspect-ratio: 1 / 0.7;
  border-radius: 50%;
  border-top: 1px solid rgba(120, 118, 197, 0.4);
  top: 50%;
  z-index: 90;
}

.radial_mask {
  mask-image: radial-gradient(circle at center bottom, black, transparent);
}
/* planet separator end */

/* hyper cards start */

.hyper_cards:hover > .hyper_card::after {
  opacity: 1;
}

.hyper_card:hover::before {
  opacity: 1;
}

.hyper_card > .hyper_card_content {
  z-index: 2;
}

.hyper_card::before,
.hyper_card::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.hyper_card::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
  z-index: 3;
}

.hyper_card::after {
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.4),
    transparent 40%
  );
  z-index: 1;
}
/* hyper cards end */

/* FancyBorderRadius start */

.fancy_border_radius1_container {
  background: radial-gradient(circle at -16% -16%, #000605, #00090e);
}

.fancy_border_radius1 {
  animation: anim 30s infinite;
  background: radial-gradient(circle at 0% 0%, #10a490, #0c72b4);
  border-radius: 30% 70% 53% 47% / 26% 46% 54% 74%;
  box-shadow: 0 -2vmin 4vmin #9ffef1 inset, 0 1vmin 4vmin #46a2e0 inset,
    0 -2vmin 7vmin #045f53 inset;
  content: "";
  filter: drop-shadow(0 0 3vmin #cae0dd) drop-shadow(0 5vmin 4vmin #6fd2c5)
    drop-shadow(2vmin -2vmin 15vmin #09578a) drop-shadow(0 0 7vmin #15685d);
  height: 50vmin;
  position: absolute;
  width: 50vmin;
}

@keyframes anim {
  0%,
  100% {
    border-radius: 30% 70% 70% 30% / 30% 52% 48% 70%;
    box-shadow: 0 -2vmin 4vmin #9ffef1 inset, 0 -4vmin 4vmin #46a2e0 inset,
      0 -2vmin 7vmin #045f53 inset;
  }

  10% {
    border-radius: 50% 50% 20% 80% / 25% 80% 20% 75%;
  }

  20% {
    border-radius: 67% 33% 47% 53% / 37% 20% 80% 63%;
  }

  30% {
    border-radius: 39% 61% 47% 53% / 37% 40% 60% 63%;
    box-shadow: 0 -4vmin 8vmin #10a490 inset, -1vmin -2vmin 6vmin #9ffef1 inset,
      -1vmin -2vmin 4vmin #46a2e0 inset, 1vmin 4vmin 8vmin #045f53 inset;
  }

  40% {
    border-radius: 39% 61% 82% 18% / 74% 40% 60% 26%;
  }

  50% {
    border-radius: 100%;
    box-shadow: 0 4vmin 16vmin #10a490 inset, 0 2vmin 5vmin #9ffef1 inset,
      0 4vmin 4vmin #46a2e0 inset, 0 6vmin 8vmin #045f53 inset;
  }

  60% {
    border-radius: 50% 50% 53% 47% / 72% 69% 31% 28%;
  }

  70% {
    border-radius: 50% 50% 53% 47% / 26% 22% 78% 74%;
    box-shadow: 1vmin 1vmin 8vmin #9ffef1 inset,
      2vmin -1vmin 4vmin #46a2e0 inset, -1vmin -1vmin 16vmin #045f53 inset;
  }

  80% {
    border-radius: 50% 50% 53% 47% / 26% 69% 31% 74%;
  }

  90% {
    border-radius: 20% 80% 20% 80% / 20% 80% 20% 80%;
  }
}
/* FancyBorderRadius end */
